html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

/* Top-level wrapper */
.page {
	max-width: 1440px;
	max-height: 900px;
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	background-image: url("../../assets/sky-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Main content area */
.page__content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	box-sizing: border-box;
}
