.main {
	padding: 50px;
	display: flex;
	flex-direction: row;
}

.main__title {
	color: white;
	font-family: "Doto";
	font-style: bold;
	font-size: 7rem;
}

.main__content {
	flex: 1;
}

.main__viewer {
	flex: 2;
}
