.viewer__modal {
	position: fixed;
	top: 0;
	right: 0px;
	height: 100vh;
	max-width: 700px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	/* transition: opacity 0.5s ease-in-out; */
}

.viewer__section {
	max-width: 500px;
}

.viewer__section-description {
	font-family: Doto;
	font-style: bold;
	color: aliceblue;
}

.viewer__section-unfinished::after {
	display: inline-block;
	animation: dotty steps(1, end) 2s infinite;
	content: "";
}

@keyframes dotty {
	0% {
		content: "";
	}
	25% {
		content: ".";
	}
	50% {
		content: "..";
	}
	75% {
		content: "...";
	}
	100% {
		content: "";
	}
}
